asgiref==3.2.10
attrs==20.1.0
Babel==2.8.0
certifi==2020.6.20
chardet==3.0.4
Django==3.1.1
django-bootstrap-form==3.4
django-environ==0.4.5
django-filter==2.4.0
django-nested-admin==3.3.2
django-registration==3.1.1
django-tastypie==0.14.3
djangorestframework==3.11.1
hiredis==1.1.0
idna==2.10
marshmallow==2.21.0
multidict==4.7.6
python-dateutil==2.8.1
pytz==2020.1
redis==3.5.3
requests==2.24.0
six==1.15.0
sqlparse==0.3.1
typing-extensions==3.7.4.3
urllib3==1.25.10
yarl==1.5.1
mysqlclient